        <footer>
            <br>
            Electric Horse - Todos los derechos reservados<br>
            Juan José Montoya Restrepo - Mateo Martínez Palacio - Juan José Restrepo
        </footer>
    </body>
</html>