<!DOCTYPE html>
<html>
    <head>
        <title>Entregable 2</title>
        <link href="css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header_buttons">
                <a href="/crearCursos"><button>Crear cursos</button></a>
                <a href="/estudiantesSistema"><button>Estudiantes</button></a>
                <a href="/administrarCursos"><button>Administrar cursos</button></a>
                <a href="/salir"><button>Salir</button></a>
            </div>
        </header>