<!DOCTYPE html>
<html>
    <head>
        <title>Entregable 2</title>
        <link href="css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header_buttons">
                <a href="/cursos"><button>Cursos disponibles</button></a>
                <a href="/misCursos"><button>Mis cursos</button></a>
                <a href="/salir"><button>Salir</button></a>
            </div>
        </header>