<!DOCTYPE html>
<html>
    <head>
        <title>Entregable 2</title>
        <link href="css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header_buttons">
                <a href="/index"><button>Log in</button></a>
                <a href="/verCursosInter"><button>Cursos</button></a>
            </div>
        </header>