{{>headerCoord}}
<div id="formulario_registro">
    <h1 id= "registro_est">Se ha guardado el curso</h1><br>
    <form action="/crearCursos">
        <br><button>Cursos</button>
    </form>
</div>
{{>footer}}