<!DOCTYPE html>
<html>
    <head>
        <title>Entregable 2</title>
        <link href="css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
        </header>
<div id= "formulario_registro">
    <h1 id= "registro_est">ERROR</h1><br><br><br>
    <h2 id="registro_est">Para volver presione atras</h2>
</div>

{{>footer}}