{{>header}}
<div id= "formulario_registro">
    <h1 id= "registro_est">Iniciar Sesión</h1><br>
    <form>
        Documento de identidad<br><input type="number" name="id"><br><br>
        Contraseña<br><input type="text" name="pass"><br><br>
        <button>Iniciar</button>
    </form>
</div>
{{>footer}}