{{>headerEstudiantes}}
<div id="formulario_registro">
    <h1 id= "registro_est">Se ha inscrito con exito</h1><br>
    <form action="/cursos">
        <br><button>Volver atras</button>
    </form>
</div>
{{>footer}}