{{>header}}
<div id= "formulario_registro">
    <h1  id= "registro_est">Registro de estudiantes</h1><br>
    <form action="/cursos" method="POST">
        Documento de identidad<br><input type="number" name="id"><br><br>
        Nombre<br><input type="text" name="nombre"><br><br>
        Correo electronico<br><input type="text" name="correo"><br><br>
        Telefono<br><input type="text" name="telefono"><br><br>
        Contraseña<br><input type="password" name="password"><br><br>
        <button>Registrar</button>
    </form>
</div>
{{>footer}}